body {
  background-color: rgb(42, 42, 41);
  color: whitesmoke;
  font-family: sans-serif; 
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

img{
  height:26vh;
  object-fit: cover;
 
  border-radius: 25px;
}

p{
  font-size: 2vh;
}

.card{
  height: 48vh;
    width: 25vw;
    margin: 5vh 4vw;
    padding: 4vh 2vw;
    border: 8px solid whitesmoke;
    background-color: rgb(59, 9, 105);
    border-radius: 25px;
}

.box{
  height: 79vh;
  display: grid;
  grid-template-columns:repeat(3,30%);
  /* grid-template-rows: auto auto auto; */
  background-color: rgb(222, 137, 17);
  overflow: auto;
  /* gap: 25%; */
}

@media  (400px <= width <= 900px) {
  body{
    background-color: red;
    
  }

  .box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(5,minmax(32vh,auto));
   justify-content: center;
   row-gap: 79px;
    overflow-y: auto;
    overflow-x: hidden;
  
    
  }
  .card{

    height:37vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    

    
    

  }
  p{
    font-size: 0.8rem;
  }

  img{
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
  }
}

@media  (max-width: 405px){
  body{
    background-color: blueviolet;
  }

  .box{
    display: flex;
    flex-direction: column;
     justify-content:safe center; 
    align-items: center;
    padding-top: 5vh;
   
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    margin: 2vh 2vw;

    
    min-height: 39vh;
    width: 85vw;
    padding: 17vh 5vw;
  }

  img{
   max-width: 100%;
   height: auto;
   margin-bottom: 2vh;
   /* display: block; */
  }
  p{
    font-size: .8rem;
  }
}

@media (754px <= width <= 900px){
  body{
    background-color: chartreuse;
  }

  .card{
    height: 40vh;
    
  }
  
}



@media (900px <= width <= 1514px){
  body{
    background-color: coral;
  }

  

  .card{
    height: 44vh;

  }

  img{
   max-width: 100%;
   height: auto;
   margin-bottom: 2vh;
   /* display: block; */
  }

  p{
    font-size: .85rem;
  }

}

@media (min-height:1243px){
  body{
    background-color: cornflowerblue;
  }
  
   img{
   max-width: 100%;
   height: auto;
   margin-bottom: 2vh;
   /* display: block; */
  }

}
